@import url(../bower_components/bootstrap/less/bootstrap.less);
 @import url(../bower_components/bootstrap/less/theme.less);
 @import url(../bower_components/font-awesome/less/font-awesome.less);
 
 #mollify {
    margin: 0;
    .container {
        & .fullpage {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
    }
    .login-view {
        .links {
            .link {
                display: inline-block;
            }
        }
    }
}
