<script type="text/x-handlebars" data-template-name="application">
{{outlet}}		
{{outlet modal}}
</script>

<script type="text/x-handlebars" data-template-name="core/popover">
 <div class="popup">
    <div class="popup-content">
    {{yield}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="components/modal-dialog">
	<div class="modal" tabindex="-1" role="dialog" {{action bubbles=false}}>
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        {{yield}}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</script>

<script type="text/x-handlebars" data-template-name="components/ui-bubble">
<div class="body">{{yield}}</div>
</script>