<script type="text/x-handlebars" data-template-name="application">
{{outlet}}		
{{outlet modal}}
</script>

<script type="text/x-handlebars" data-template-name="components/fa-icon">
</script>

<script type="text/x-handlebars" data-template-name="core-change-password">
	<form role="form">
		{{t change-password.instructions tagName="h4"}}

		{{bs-notifications style="z-index: 1000; position: fixed; width: 50%; left: 0; right: 0; margin-left: auto; margin-right: auto; margin-top: 50px;"}}

		<div class="form-group">
			<label class="sr-only" for="oldPassword">{{t change-password.old-password}}</label>
			{{input id="oldPassword" type="password" value=oldPassword placeholderTranslation="change-password.old-password" class="form-control" required="1" autofocus="1"}}
		</div>

		<div class="form-group">
			<label class="sr-only" for="newPassword">{{t change-password.new-password}}</label>
			{{input id="newPassword" type="password" value=newPassword placeholderTranslation="change-password.new-password" class="form-control" required="1"}}
		</div>

		<div class="form-group">
			<label class="sr-only" for="newPassword">{{t change-password.confirm-password}}</label>
			{{input id="confirmPassword" type="password" value=confirmPassword placeholderTranslation="change-password.confirm-password" class="form-control" required="1"}}
		</div>

		{{#if error}}<div class="alert alert-warning">{{error}}</div>{{/if}}
	</form>
</script>

<script type="text/x-handlebars" data-template-name="components/core-popup-element">
	popup
	{{yield}}
</script>

<script type="text/x-handlebars" data-template-name="core-popup-menu">
	<ul class="dropdown-menu" role="menu">
	{{#each items}}
		<li role="presentation">
			<a role="menuitem" tabindex="-1" {{action "select" this}}>
				{{#if fa}}
					{{fa-icon class=fa}}
				{{/if}}
				{{val this "translate-key:titleKey"}}
			</a>
		</li>
	{{/each}}
	</ul>
</script>