<div class="filelist-table">
    <div class="filelist-header">
        <div class="filelist-header-col col col-{{col.id}}" ng-repeat="col in cols">
            {{ col.titleKey | translate }}
        </div>
    </div>

    <div class="filelist-items">
        <div class="filelist-item popupmenu-parent" ng-class="{'item-file item-file-{{item.extension}}' : item.is_file, 'item-folder' : !item.is_file}" ng-repeat="item in data.items" draggable="onDragItem(item)" droppable="onDropItem(item, dragObj)" canDrop="canDropItem(item, dragObj)" dropAcceptType="filesystemitem">
            <div ng-click="onClick($event, item, col)" ng-right-click="onRightClick($event, item, col)" ng-dblclick="onDblClick($event, item, col)" ng-mouseenter="onMouseOver($event, item)" ng-mouseleave="onMouseOut($event, item)" class="filelist-item-value col col-{{col.id}}" ng-class="{'quickaction-parent' : (col.id == 'name')}" ng-repeat="col in cols">
                {{ content(item, col) }}
            </div>
        </div>
    </div>
</div>
