<script type="text/x-handlebars" data-template-name="files">
	<h2>Files</h2>
	
	{{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="item">
	<span>{{controllers.files.viewType}}</span>

	{{#if controllers.files.isListView}}
		{{file-list-view items=items click-item="clickItem"}}
	{{else}}
		{{file-icon-view items=items click-item="clickItem" large=controllers.files.isIconViewLarge}}
	{{/if}}
</script>

<script type="text/x-handlebars" data-template-name="components/file-list-view">
	<thead>
		<tr>
			<th>Name</th>
			<th>Extension</th>
			<th>Size</th>
		</tr>
	</thead>
	<tbody>			
		{{#each items}}
		<tr id="item-{{id}}" class="item" {{action click this}}>
		  <td>{{name}}</td>
		  <td>{{extension}}</td>
		  <td>{{size}}</td>
		</tr>
		{{/each}}
	</tbody>
</script>

<script type="text/x-handlebars" data-template-name="components/file-icon-view">
	{{#each items}}
	<div id="item-{{id}}" class="item">
		{{name}}
	</div>
	{{/each}}
</script>

<script type="text/x-handlebars" data-template-name="files-header-tools">
	<ul class="nav navbar-nav navbar-right">
		{{#each viewTypes}}
			<li><a {{action "changeViewtype" this}}>{{this}}</a></li>
		{{/each}}
	</ul>
</script>