<script type="text/x-handlebars" data-template-name="files">
	{{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="item">
	<h2>{{folder.name}}</h2>

	{{#if controllers.files.isListView}}
		{{file-list-view items=items clickItem="clickItem"}}
	{{else}}
		{{file-icon-view items=items click-item="gotoFolder" large=controllers.files.isIconViewLarge}}
	{{/if}}
</script>

<script type="text/x-handlebars" data-template-name="components/file-list-view">
	<thead>
		<tr>
			{{#each cols}}
			<th {{action colClick this}}>{{val this "translate-key:titleKey"}}</th>
			{{/each}}
		</tr>
	</thead>
	<tbody>			
		{{#each item in sorted}}
		<tr id="item-{{id}}" class="item">
			{{file-list-row item=item cols=cols clickItem="clickItem"}}
		</tr>
		{{/each}}
	</tbody>
</script>

<script type="text/x-handlebars" data-template-name="components/file-list-row">
	{{#each col in cols}}
		{{file-list-cell item=item col=col clickItem="clickItem"}}
	{{/each}}
</script>

<script type="text/x-handlebars" data-template-name="components/file-list-cell">
	{{{content}}}
</script>

<script type="text/x-handlebars" data-template-name="components/file-icon-view">
	{{#each items}}
	<div id="item-{{id}}" class="item">
		{{name}}
	</div>
	{{/each}}
</script>

<script type="text/x-handlebars" data-template-name="files-header-nav-items">
	{{header-nav-menu class="root" items=controllers.files.roots titleProperty="name" select="gotoFolder" fa="fa-folder" selected=root}}
	{{#each hierarchy}}
		<li><a {{action 'gotoFolder' this}}>{{name}}</a></li>
	{{/each}}
</script>

<script type="text/x-handlebars" data-template-name="files-header-tools">
	<ul class="nav navbar-nav navbar-right">
		{{#each viewTypes}}
			<li><a {{action "changeViewtype" this}}>{{this}}</a></li>
		{{/each}}
	</ul>
</script>