<script type="text/x-handlebars" data-template-name="files">
	{{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="item">
	<h2>{{folder.name}}</h2>

	{{#if controllers.files.isListView}}
		{{file-list-view model=model clickItem="clickItem" mouseOverItem="mouseOverItem" mouseOut="mouseOutFileComponent"}}
	{{else}}
		{{file-icon-view items=items click-item="gotoFolder" large=controllers.files.isIconViewLarge}}
	{{/if}}
</script>

<script type="text/x-handlebars" data-template-name="components/file-list-view">
	<thead>
		<tr>
			{{#each cols}}
			<th {{action colClick this}}>{{val this key="titleKey" translate=true}}</th>
			{{/each}}
		</tr>
	</thead>
	<tbody>			
		{{#each item in sorted}}
			{{file-list-row item=item cols=cols data=model.data clickItem="clickItem" mouseOver="mouseOverItem"}}
		{{/each}}
	</tbody>
</script>

<script type="text/x-handlebars" data-template-name="components/file-list-row">
	{{#each col in cols}}
		{{file-list-cell item=item col=col data=data clickItem="clickItem"}}
	{{/each}}
</script>

<script type="text/x-handlebars" data-template-name="components/file-list-cell">
	{{{content}}}
</script>

<script type="text/x-handlebars" data-template-name="components/file-icon-view">
	{{#each items}}
	<div class="item">
		{{name}}
	</div>
	{{/each}}
</script>

<script type="text/x-handlebars" data-template-name="files-header-nav-items">
	{{file-header-nav-menu class="root" items=controllers.files.roots titleKey="name" select="gotoFolder" fa="fa-folder" selected=root}}
	{{#each hierarchy}}
		<li><a {{action 'gotoFolder' this}}>{{name}}</a></li>
	{{/each}}
</script>

<script type="text/x-handlebars" data-template-name="files-header-nav-tools">
	{{#if isWritable}}
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<i class="fa fa-plus"></i>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="javascript: void()">{{uploader-file-selector folder=folder listener=controller.uploadListener}}</a>
				</li>
				<li><a {{action 'createFolder'}}>TODO create folder</a></li>
			</ul>
		</li>
	</ul>
	{{/if}}
</script>

<script type="text/x-handlebars" data-template-name="components/file-header-nav-menu">
	<div class="btn-group navbar-btn">
		<button class="btn item" {{action "select" selected}}>
			{{#if selected}}
				{{#if selected.fa}}
					{{fa-icon class=selected.fa}}
				{{else}}
					{{#if fa}}
						{{fa-icon class=fa}}
					{{/if}}
				{{/if}}
				<span class="title">
				{{val selected keyBinding=titleKey translateBinding=titleTranslate}}
			{{else}}
				{{#if fa}}
					{{fa-icon class=fa}}
				{{/if}}
				{{title}}
			{{/if}}
		</button>
        <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>

		<ul class="dropdown-menu">
			{{#each items}}
				<li>
					<a {{action "select" this}}>
						{{#if fa}}
							{{fa-icon class=fa}}
						{{/if}}
						{{val this keyBinding=controller.titleKey translateBinding=controller.titleTranslate}}
					</a>
				</li>
			{{/each}}
		</ul>
	</div>
</script>

<script type="text/x-handlebars" data-template-name="files-header-tools">
	{{bs-icon-pills contentBinding="viewTypes" selectedBinding="viewType" class="navbar-nav navbar-right"}}
</script>

<script type="text/x-handlebars" data-template-name="files-sidebar-nav">
	<ul class="nav nav-sidebar">
		{{#each roots}}
			<li><a {{action "gotoFolder" this}}>{{name}}</a></li>
		{{/each}}
	</ul>
</script>

<script type="text/x-handlebars" data-template-name="filelist-quick-actions">
	<div class="quick-actions {{unbound viewType}}">
		{{#each a in quickActions}}
			<a class="quick-action" {{action "doAction" a quickActionCtx}}
			{{#if a.fa}}
				<i class="fa fa-{{unbound a.fa}}"></i>
			{{else}}
				<i class="fa fa-toggle-right"></i>
			{{/if}}
			</a>
		{{/each}}
	</div>
</script>