<div class="login-view container">
    <form class="fullpage" role="form">
        <div class="mollify-logo"></div>

        <legend translate>login_Login</legend>

        <div class="form-group">
            <label class="sr-only" for="loginUsername" translate>login_Username</label>
            <input id="loginUsername" type="text" ng-model="username" class="form-control" required="1" autofocus="1" placeholder="{{ 'login_Username' | translate }}" />
        </div>

        <div class="form-group">
            <label class="sr-only" for="loginPassword" tranlsate>login_Password</label>
            <input id="loginPassword" type="password" ng-model="password" class="form-control" required="1" placeholder="{{ 'login_Password' | translate }}" />
        </div>
        <label class="checkbox">
		    <label>
				<input type="checkbox" ng-model="remember"><span translate>login_Remember me</span>
		    </label>
        </label>

        <button ng-click="doLogin()" class="btn btn-lg btn-primary btn-block" translate>login_Login</button>

        <div class="links center-block">
        	<div class="link" ng-if="features.lost_password">
        		<a class="btn btn-link" href="javascript: void(0)" popover-template="login/reset" popover-model="reset" translate>login_Reset password</a>
        	</div>
        	<div class="link" ng-if="features.registration">
        		<a class="btn btn-link" ui-sref="registration/new" translate>login_Register</a>
        	</div>
        </div>

        <script id="login/reset" type="text/ng-template">
        	<form role="form">
	            <label class="sr-only" for="forgotPasswordEmail" translate>forgotPassword_Email</label>
	            <input ng-model="reset.forgotEmail" class="form-control" required="1" placeholder="{{ 'forgotPassword_Email' | translate }}" />
		        <button ng-click="reset.sendPassword()" class="btn btn-lg btn-primary btn-block" translate>forgotPassword_Send</button>
        	</form>
        </script>
    </form>
</div>
