<script type="text/x-handlebars" data-template-name="login">
	<div class="login-view container">
		<form class="fullpage" role="form">
			<div class="mollify-logo"></div>

			{{t login.title tagName="legend"}}

			<div class="form-group">
				<label class="sr-only" for="loginUsername">{{t login-view.username}}</label>
				{{input id="loginUsername" type="text" value=username placeholderTranslation="login-view.username" class="form-control" required="1"}}
			</div>

			<div class="form-group">
				<label class="sr-only" for="loginPassword">{{t login-view.password}}</label>
				{{input id="loginPassword" type="password" value=password placeholderTranslation="login-view.password" class="form-control" required="1"}}
			</div>

			<label class="checkbox">
				{{view Ember.Checkbox checkedBinding="remember"}}
				{{t login-view.rememberme}}
			</label>

			<button {{action "login"}} class="btn btn-lg btn-primary btn-block" type="submit">
				{{t login-view.login-button}}
			</button>

			<div class="links center-block">
				<div class="link">
					<a id="toggle-reset" class="btn btn-link">{{t login-view.reset-password.show-action}}</a>
					{{#bs-popover triggers="click" placement="bottom" autofocus="login-reset-email" isVisibleBinding="showReset"}}
						{{t login-view.reset-password.message}}
						{{input id="login-reset-email" type="text" value=model.resetEmail class="form-control" required="1"}}

						<button {{action "reset" controller}} class="btn" type="submit">
							{{t login-view.reset-password.reset-action}}
						</button>
					{{/bs-popover}}
				</div>

				<div class="link">
					{{#if controller._m.plugins.list.Registration}}
						<a href="#/registration/new" class="btn btn-link">{{t login.register-action}}</a>
					{{/if}}
				</div>
			</div>

			{{bs-notifications style="z-index: 1000; position: fixed; width: 50%; left: 0; right: 0; margin-left: auto; margin-right: auto; margin-top: 50px;"}}
		</form>
	</div>
</script>